name: Deploy DNN Backend

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          publish-profile: ${{ secrets.DNN_BACKEND_PUBLISH_PROFILE }}
          app-name: dnn-api
          package: "./Deep Neural network/backend"
